body {
    background-color: #0828cc;
    width: 99%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.left {
    display: flex;
}

.center {
    display: flex;
   
}
.small {
    text-align: center;
    margin: 0 auto;
    display: flex;
}




.subscribe-button {
    display: flex;
    justify-content: center;
    background-color: #0828cc;
    box-shadow: #ffffff;
    border: #ffffff, 10px;
    border-radius: 1100px;
    width: 100px;
    height: 40px;
    font-family: aktiv-grotesk, sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 40px;

}

.header-name {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 18px;
    padding: 5px;
}

.small {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 20%;
    align-content: center;
}

h1 {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 56px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    letter-spacing: -.0005em;
    font-weight: 700;

}

.center-content {
   
}
p.intro {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    height: 50px;
    width: 500px;
    display: flex;
    line-height: 25px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
   
}

.scroll {
    color: #ffffff;
    font-family: aktikv-grotesk, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 80px;

}

.invert {
    writing-mode: sideways-lr;
    color: #ffffff;
    font-size: 11px;
    font-family: aktiv-grotesk, sans-serif;
    display: inline-block;
    

}

.explore-button {
    color: #0828cc;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    display: flex;
    align-content: center;
    margin: 0 auto;
    margin-top: 80px;
}