body {
    background-color: #0828cc;
    width: 99%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}

.center {
    display: flex;
}

.subscribe-button {
    display: flex;
    background-color: #0828cc;
    box-shadow: #ffffff;
    border: #ffffff, 5px;
    border-radius: 1100px;
    font-family: aktiv-grotesk, sans-serif;
    
}
.header-name {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 18px;
}

.small {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 20%;
    align-content: center;
}

h1 {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 56px;
    text-align: center;
}

span {
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    text-align: center;
    height: 600px;
    width: 102px;
    
}
.scroll {
    color: #ffffff;
    font-family: aktikv-grotesk, sans-serif;
    font-size: 14px;
    text-align: center;

}

.invert {
    writing-mode: sideways-lr;
    color: #ffffff;
    font-size: 11px;
    font-family: aktiv-grotesk, sans-serif;

}

.explore-button {
    color: #0828cc;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
}